.btn,
.jumbotron,
.nav :hover {
  border-radius: 3px;
}

body {
  background: #343a40;
}

.navbar {
  position: sticky;
  top: 0;
}

.signin {
  border: 2px;
  border-color: orange;
  border-radius: 5px;
}

.Toastify__toast--default {
  color: black;
}

.Toastify__toast {
  border-radius: 8px;
}
